**Install dependencies**

In [133]:
import yfinance as yf
import pg8000.native
import ssl
from pg8000 import Cursor

In [145]:
# get accenture stock information
acn = yf.Ticker("ACN")

# display trading and company information
#acn.info

# get historical market data
df = msft.history(period="max")

# use index as column (index represents dates)
df['Date'] = df.index

# number of days
len(df)

# use only the first 100 rows
df = df[:100]

# show dataframe
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2001-07-19,11.265749,11.407503,11.191141,11.317974,34994300,0.0,0,2001-07-19
2001-07-20,11.228440,11.228440,11.041921,11.198597,9238500,0.0,0,2001-07-20
2001-07-23,11.191139,11.198600,10.855405,11.191139,7501000,0.0,0,2001-07-23
2001-07-24,11.153833,11.168755,10.967314,11.086686,3537300,0.0,0,2001-07-24
2001-07-25,10.967315,11.153834,10.930011,11.153834,4208100,0.0,0,2001-07-25
...,...,...,...,...,...,...,...,...
2001-12-07,19.323363,19.360668,18.502680,18.547445,1115400,0.0,0,2001-12-07
2001-12-10,18.651904,19.547196,18.278866,18.353474,1732100,0.0,0,2001-12-10
2001-12-11,18.316165,18.562370,18.278861,18.472841,1713200,0.0,0,2001-12-11
2001-12-12,18.465380,18.875722,18.308705,18.778732,2044100,0.0,0,2001-12-12
2001-12-13,18.741425,18.748885,17.308959,17.383566,1446600,0.0,0,2001-12-13

In [143]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'date'],
      dtype='object')

**Credentials**

In [70]:
config = {
    'database': 'defaultdb',
    'user': 'avnadmin',
    'password': 'xlc228btwpihnl5m',
    'host': 'pg-230a2cc3-christopher-eca5.aivencloud.com',
    'port': 16754,
    #'ssl' : True
}

#connect (
#user,
#host: str=str,
#unix_sock: __class__=None,
#port: int=5432,
#database: __class__=None,
#password: __class__=None,
#ssl: __class__=None,
#timeout: __class__=None,
#application_name: __class__=None,
#max_prepared_statements: int=1000,
#tcp_keepalive: bool=True
#)

**Connect to database**

In [125]:
conn = pg8000.native.Connection(user='arhdrled', database = 'arhdrled', host='rogue.db.elephantsql.com',
                              password = 'xUJXlLB13pjmR0RZw5WDvqxxPc9LqWzh')

In [128]:
conn.run("SELECT schema_name FROM information_schema.schemata")

[['pg_catalog'],
 ['public'],
 ['information_schema'],
 ['schema'],
 ['medium'],
 ['test']]

In [127]:
sql_query ="""
CREATE SCHEMA test;
CREATE TABLE test.stocks(
        "date" date,
        "closing_price" float);
    """
conn.run(sql_query)

[]

In [149]:
sql_query ="""
CREATE TABLE test.stocks_3(
        "date" date,
        "closing_price" float);
    """
conn.run(sql_query)

[]

In [151]:
# create list of lists to transmit results to database

s = """INSERT INTO test.stocks_3(date, closing_price) VALUES (%s, %s)"""

obj = []
for index in range(len(df)):
    obj.append([df.Date[index],
                df.Close[index]])
            
    
cursor = Cursor(conn)
cursor.executemany(s, obj)
conn.run("COMMIT")

[]

In [154]:
for row in conn.run("SELECT * FROM test.stocks")[:5]:
    print(row)

[datetime.date(2001, 7, 19), 11.3179740905762]
[datetime.date(2001, 7, 20), 11.1985969543457]
[datetime.date(2001, 7, 23), 11.1911392211914]
[datetime.date(2001, 7, 24), 11.0866861343384]
[datetime.date(2001, 7, 25), 11.1538343429565]